
<% if @auth %>
  <div><h1>Welcome <%= @auth.username %></h1></div>
  <%= image_tag @auth.photo %>
  <%= @auth.email %>

    <span class="glyph general">l</span>
    <div>
      <%= link_to "Edit your profile", edit_user_path(@auth) %>
    </div>


  
<% else %> <!-- This is what happens if you are not logged in to a session -->
  <div>Not logged in</div>
  <li><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></li>

<% end %>