<h1>Company Index List</h1>

  <% @companies.each do |company| %>
    <div class="name">
      <%= company.name %>
    </div>
    
    <div class="category">
      <%= company.category %>
    </div>

    <div class="address">
      <%= company.address %>
    </div>

    <div class="url">
      <%= company.url %>
    </div>


    <%= link_to 'Show', company %></td>
    <%= link_to 'Delete', company, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Edit', edit_company_path(company) %>
<% end %>