<div id="map_canvas2"></div>
<script>
    display_map3(40.7142, -74.0064, 13);
</script>

<% @companies.each do |x| %>
    <script>
        add_marker(<%= x.lat %>, <%= x.long %>, '<%= x.name %>', '<%= x.url %>', '<%= x.address %>');
    </script>
<% end %>