
<div id="bodyContent">

<h1>Company: <%= @company.name %></h1>

<% if @auth %>
Customer Service: <%= rating_for @company, "customer_service" %>
Performance: <%= rating_for @company, "performance" %>
Speed: <%= rating_for @company, "speed" %>
Price: <%= rating_for @company, "price" %>





<%= form_tag '/comments' do %>
<%= label_tag :text %>
<%= text_field_tag :text %>
<%= hidden_field_tag "company_id", @company.id %>
<%= submit_tag "Confirm" %>
<% end %>
<% end %>


<% @x.each do |comment| %>
  <div class="text">
    <%= comment.user.username %>:
    <%= comment.text %>
  </div>
<% end %>
<%= link_to 'Back', companies_path %>



<div id="self_canvas"></div>
<script>
    display_map2(<%= @company.lat %>, <%= @company.long %>, 13);
</script>

    <script>
        add_marker(<%= @company.lat %>, <%= @company.long %>, '<%= @company.name %>', '<%= @company.url %>', '<%= @company.address %>');
    </script>




</div>

 