
<div id="bodyContent">

<h1>Company: <%= @company.name %></h1>

Speed : <%= rating_for @company, "speed" %>
Price : <%= rating_for @company, "price" %>

Social

<div id="self_canvas"></div>
<script>
    display_map2(<%= @company.lat %>, <%= @company.long %>, 13);
</script>

    <script>
        add_marker(<%= @company.lat %>, <%= @company.long %>, '<%= @company.name %>', '<%= @company.url %>', '<%= @company.address %>');
    </script>


<%= link_to 'Edit', edit_company_path %>
<%= link_to 'Back', companies_path %>


</div>
 