<% content_for :name, "home2" %>
<div id="bodyContent">

<div class="row">
<div class="six columns" id="companyname">
<h3>Company: <%= @company.name %></h3>


  <% if @auth %>
  <div class="starrate">
    Overall Satisfaction: <%= rating_for @company, "overall_satisfaction" %>
  </div>
  <div class="starrate">
    Satisfaction with Staff/Resources: <%= rating_for @company, "satisfaction_with_staff_resources" %>
  </div>
  <div class="starrate">
    Quality of Work: <%= rating_for @company, "quality_of_work" %>
  </div>
  <div class="starrate">
    Fulfillment of Project Objectives: <%= rating_for @company, "fulfillment_of_project_objectives" %>
  </div>
  <div class="starrate">
    Adherence to Project Deadlines: <%= rating_for @company, "adherence_to_project_deadlines" %>
  </div>
  <div class="starrate">
    Responsiveness to Requests/Questions: <%= rating_for @company, "responsiveness_to_requests_questions" %>
  </div>
  <div class="starrate">
    Price/Value: <%= rating_for @company, "price_value" %>
  </div>
  <% end %>

  <div class="url">
    <a href='<%= @company.url %>' target="_blank"><%= @company.name %></a>
  </div>
  <br />
  <div class="address">
    <%= @company.address %>, <%= @company.address2 %>
  </div>
  <br />
  <div class="category">
    <%= @company.category %>
  </div>
  <br />
  <div class="hiring">
    Are they hiring: <%= @company.hiring %>
  </div>
</div>

<div class="six columns">
  <div id="self_canvas"></div>
  <script>
      display_map2(<%= @company.lat %>, <%= @company.long %>, 13);
  </script>

      <script>
          add_marker(<%= @company.lat %>, <%= @company.long %>, '<%= @company.name %>', '<%= @company.url %>', '<%= @company.address %>');
      </script>
</div>
</div>


<div class="row" id="comment_section">
  <div class="six columns centered">
    <div class="commentbox">
      <h3>What do you think of <%= @company.name %>?</h3>
      <% if @auth %>
        <%= form_tag '/comments' do %>
        
        <%= text_field_tag :text %>
        <%= hidden_field_tag "company_id", @company.id %>
        <%= submit_tag "Confirm" %>
        <% end %>
      <% end %>
    </div>



    <% @x.each do |comment| %>
      <div class="text">

        <h3><%= comment.user.username %></h3>
        <div class="textbox"><%= comment.text %></div>
      </div>
    <% end %>
     <br />
    <%= link_to 'Back', companies_path %>

  </div>
</div>



</div>

 