<!DOCTYPE html>
<html lang="en">
<head>
  <title>Biz-Shout</title>

  <!--css-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Yesteryear|Fugaz+One|Racing+Sans+One|Bangers|Satisfy|Baumans' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{GOOGLEKEY}&sensor=false" %>

  
  <%= csrf_meta_tags %>

</head>
<body class="<%= yield(:name) if yield %>">

  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=479466075426075";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  
<div id="container">
    <nav class="top-bar" id="bar">
      <ul>
        <li class="name"><h1><a href="/">Biz-Shout</a></h1></li>

        <li class="toggle-topbar"><a href="#"></a></li>
      </ul>
        <section>
          <ul class="left">
            <li class="has-dropdown">
              <a href="/companies">Companies</a>

                <ul class="dropdown">
                  <li><a href="/maps">Map</a></li>
                </ul>
            </li>
            
          </ul>
          <ul class="right">
            <% if @auth %>
            <li>Signed in as <strong><%= @auth.username %></strong>!</li>
            <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
            <% else %>
            <li><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></li>
            <li><%= link_to "Sign in with Twitter", "/auth/twitter", id: "sign_in" %></li>
            <% end %>
            
          
            
          </ul>
        </section>
    </nav>



    <%= yield %>
    
    <!-- <footer>
      
      
      <div class="clear">
      </div>
      
      <p>Copyright &copy; Biz-Shout Inc 2012</p>
    
    </footer> -->

  </div><!-- end container -->

<%= javascript_include_tag "alertify.js" %>
</body>
</html>
